.rma-wrapper h1 {
    font-size: 32px;
    font-weight: 500;
    background-color: var(--primary);
    padding: 15px 0;
    color: #fff;
    text-align: center;
}

.rma-wrapper {
    max-width: 946px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #F8F8F8;
}

.inner-form {
    padding: 20px;
}