<main class="home-container">
    <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
    <div class="static-container">
        <h1>Refund Policy</h1>
        <p>All refund requests must be submitted within thirty (30) days of the purchase date. Items must be in unused condition, with all original tags and labels attached, to qualify for a refund.<br> After receiving your return and inspecting the condition of your item, we will process your refund. Please allow at least ten (10) days from the receipt of your item to process your refund. We will notify you by email when your refund has been processed.</p>
        <p><strong>Refund Process</strong></p>
        <p>To initiate a refund, kindly contact us at orders&#64;itechdevices.ae. Once you have your RMA number:</p>
        <ol>
        <li>Securely pack the item in its original packaging.</li>
        <li>Include your proof of purchase.</li>
        <li>Ship your return to:<br>iTech Devices<br>Attn: Refunds<br>RMA #<br>Office 1904<br>Metropolis Tower - Opp Bay Square<br>Dubai UAE 186138, United Arab Emirates</li>
        </ol>
        <p>Please note that the customer is responsible for all return shipping charges.</p>
        <p><strong>Restocking Fees</strong></p>
        <p>A 25% restocking fee applies to all refunds. iTech Devices reserves the right to charge a 50% restocking fee under the following conditions:</p>
        <ul>
        <li>Missing or replaced components</li>
        <li>Defective/DOA items with no issues found upon inspection</li>
        <li>Post-warranty RMA claims (may not be available to all customers)</li>
        <li>Damaged or tampered packaging</li>
        </ul>
        <p><strong>Denial of Refund</strong></p>
        <p>iTech Devices reserves the right to refuse a refund request. Refunds may be denied if:</p>
        <ul>
        <li>The item does not match the details listed in the RMA form.</li>
        <li>Physical damage or tampering is evident.</li>
        </ul>
        <p><strong>Questions</strong></p>
        <p>If you have any questions regarding our refund policy, feel free to reach out to us at:</p>
        <p>Email: orders&#64;itechdevices.ae<br>Phone: +971-5-54255786</p>
        </div>
</main>