<main class="home-container">
    <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
    <div class="static-container">
        <h1>Tax Exempt</h1>
        <p>This Tax-Exempt policy aims to outline the procedure and requirements needed to get tax exemptions on purchases with Itech Devices.</p>
        <p><strong>State Tax Exemption: </strong>Tax exemptions for purchases are applicable in most states, but California is an exception. In California, a state-level sales tax of up to 9.5% may apply to purchases, with the specific rate potentially varying
            within different counties of the state.</p>
        <p><strong>Nonprofit Organizations: </strong>Charitable organization, religious group, educational institution, or another form of nonprofit could be eligible for tax-exempt purchases.</p>
        <p><strong>Government Entities: </strong>Federal and state governmental organizations may qualify for tax exemptions when acquiring goods and services through Itech Devices.</p>
        <p><strong>Resellers: </strong>Businesses engaged in the resale of products may also be eligible for tax-exempt status, provided that all necessary documentation is submitted.</p>
        <p><strong>Application Procedure</strong></p>
        <p><strong>New Customers:</strong></p>
        <ol>
            <li><strong>Create an Account</strong>: If you are a new customer, you'll need to first <a href="https://itechdevices.ae/user/login">create an account on our
                website</a>. This account will serve as your main interface for submitting tax exemption requests.
            </li>
            <li><strong>Compile Necessary Documents</strong>: Before applying for tax exemption, gather the required certificates or forms that establish your organization tax-exempt status.</li>
            <li><strong>Document Submission</strong>: Once your account is active and your documents are in order, please email them to support&#64;itechdevices.ae. Include your account information or order number for reference.</li>
            <li><strong>Assessment</strong>: Our dedicated team will review your documents during regular business hours.
            </li>
            <li><strong>Approval Notification</strong>: After your tax-exempt status is confirmed, we will notify you via email, and your account will be updated.</li>
            <li><strong>Immediate Implementation</strong>: All new orders will automatically reflect your tax-exempt status, and any taxes previously charged will be refunded.</li>
        </ol>
        <p><strong>Returning Customers:</strong></p>
        <ul>
            <li><strong>Sustaining Tax-Exempt Status</strong>: If you're a returning customer who has already obtained tax-exempt status, the process is much simpler.</li>
            <li><strong>Renewing Documentation</strong>: Should your tax-exempt status change or the documents expire, please submit updated paperwork to maintain compliance.</li>
        </ul>
        <p><strong>For Multi-Jurisdictional Exemptions:</strong></p>
        <ul>
            <li><strong>Multi-State Submissions</strong>: If your organization operates in multiple states, please provide appropriate documentation for each applicable state.</li>
            <li><strong>Order Specifics</strong>: During the checkout process, specify the state for which you need the tax exemption.</li>
            <li><strong>Ongoing Regulation Compliance</strong>: We will keep your documents on file and apply tax exemptions as appropriate for future orders, ensuring compliance across different jurisdictions.
            </li>
        </ul>
    </div>
</main>