<div class="home-container contact-page">
  <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
</div>

<div class="hero-ctn home-container"
  style="background: url('/assets/images/benefits.jpg'); background-position: center; background-size: cover;">
  <div class="content-part">
    <h1>Account Benefits</h1>
    <p>
      Simplify your IT procurement process with Memory Clearance business account.
    </p>
    <a [routerLink]="'/user/sign-up'" class="btn">Create an Account</a>
  </div>
</div>

<div class="home-container icons">

  <div class="card-c">
    <div class="img-tab">
      <span><img loading="lazy" src="/assets/icons/link.jpg"></span>
    </div>
    <div class="text-tab">
      <h2>Dedicated Account Managers
      </h2>
      <p>We know you're busy. That's why we put dedicated account management at your fingertips.</p>
    </div>
  </div>

  <div class="card-c">
    <div class="img-tab">
      <span><img loading="lazy" src="/assets/icons/report.jpg"></span>
    </div>
    <div class="text-tab">
      <h2>You can buy now and pay later</h2>
      <p>You don't have to settle for just one way to pay.</p>
    </div>
  </div>

  <div class="card-c">
    <div class="img-tab">
      <span><img loading="lazy" src="/assets/icons/integration.jpg"></span>
    </div>
    <div class="text-tab">
      <h2>Procurement Partner</h2>
      <p>Get the most out of your purchasing power. Partner with us and get the best deals on all your procurement
        needs.</p>
    </div>
  </div>


  <div class="card-c">
    <div class="img-tab">
      <span><img loading="lazy" src="/assets/icons/bag.jpg"></span>
    </div>
    <div class="text-tab">
      <h2>Product Selection</h2>
      <p>From the basics to the bleeding edge. The variety of our products will help you find the right IT product for
        you.</p>
    </div>
  </div>

  <div class="card-c">
    <div class="img-tab">
      <span><img loading="lazy" src="/assets/icons/approved.jpg"></span>
    </div>
    <div class="text-tab">
      <h2>Personalized Purchasing</h2>
      <p>Create your own customized catalogs of approved products, special bundles to fit your organizational standards,
        and helpful shopping lists to streamline cyclical purchases like memory and hard drives.
      </p>
    </div>
  </div>


  <div class="card-c">
    <div class="img-tab">
      <span><img loading="lazy" src="/assets/icons/price-tag.jpg"></span>
    </div>
    <div class="text-tab">
      <h2>Special Pricing</h2>
      <p>We'll help you get the most from your IT budget. Save time and money with clear pricing, special discounts and
        support for your favorite contracts.
      </p>
    </div>
  </div>

</div>



<div class="home-container text-center mb-5">
  <h2 class="mb-4">It's time to simplify your IT. Get started now.</h2>
  <a [routerLink]="'/user/sign-up'" class="btn">Get Started Now</a>
</div>

<app-industries-section></app-industries-section>

<app-reviews-slider></app-reviews-slider>

<div class="hero-ctn hero-ctn2 home-container"
  style="background: url('/assets/images/support.jpg'); background-size: cover; background-position: center;">
  <div class="content-part">

    <h1>Your one-stop resource for all your technology needs.</h1>
    <p> Get access to over one million IT products
      to simplify procurement.
      We're here to help you deploy or upgrade your IT solutions.
    </p>


    <h2 class="call-now">Call Now: <a style="color: white; text-decoration: none;" href="tel:+971554255786">+971-5-54255786</a> 1</h2>
    <a [routerLink]="'/contact-us'" class="btn">Request a Quote Today</a>
  </div>
</div>
