<div class="hero-ctn" style="background: url('/assets/images/edu-banner.png')">
    <div class="home-container">
        <div class="content-part">
            <h1>EdTech Advancements</h1>
        </div>
    </div>
</div>
<div class="section nxtbanner">
    <div class="home-container">
        <h2>Empowering Learning with Advanced IT Solutions</h2>
        <p>Uplift the education standards with our carefully crafted solutions, and reform the learning experience, empowering educators and driving your institution toward educational excellence.</p>
    </div>
</div>

<div class="section home-container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid w-100" loading="lazy" src="/assets/images/edu-1.png" />
        </div>
        <div class="col-md-8">
            <h2>Education Technology Solutions</h2>
            <p>itechdevices.ae is committed to advancing your educational institution through technological excellence. The goal is to ensure that your institution leverages the full potential of technology, offering:
                <p><strong>Customized EdTech Solutions:</strong> Carefully curated selection of cutting-edge educational technology solutions, designed to meet the unique objectives of your institution.</p>
                <p><strong>Enlightening Educational Insights:</strong> Empowering you with valuable insights and expertise to make forward-thinking tech decisions that lead your institution towards success in the world of education.</p>
                <p><strong>Reliable IT Support:</strong> Our dedicated team of experts is ready to deliver comprehensive IT services and support, ensuring the smooth flow of operation of your educational institution's technological infrastructure.</p>
        </div>

    </div>
</div>

<div class="section home-container">
    <div class="row align-items-center">
        <div class="col-md-8" style="background-color: white;padding: 20px;">
            <h2>Collaborative Alliances for Educational Excellence</h2>
            <p>We acknowledge the distinct IT needs of educational institutions, and we're dedicated to uplifting your organization. Our comprehensive collection encompasses a wide range of educational solutions from industry-leading brands, thoughtfully
                chosen to cater to the specific requirements of your institution. We understand that each educational institution's IT journey is unique, and that's why we're here to assist you at every step, providing custom solutions and the vital support
                your institution needs.</p>
        </div>
        <div class="col-md-4 pe-0">
            <img class="img-fluid w-100" loading="lazy" src="/assets/images/edu-2.png" />
        </div>
    </div>
</div>

<div class="section icon-row home-container">
    <h2 class="text-center">Why Education Prefer Our IT Solutions</h2>
    <div class="row">
        <div class="col-md text-center">
            <img style="max-width: 60px;margin-bottom: 15px;margin-top: 15px;" class="img-fluid" loading="lazy" src="/assets/images/sme-icon-1.png" alt="Local Expertise" />
            <h6>Educational Expertise</h6>
            <p>Guiding Educational Institutes with Expert Insights and Knowledge.</p>
        </div>
        <div class="col-md text-center">
            <img style="max-width: 60px;margin-bottom: 15px;margin-top: 15px;" class="img-fluid" loading="lazy" src="/assets/images/sme-icon-3.png" alt="Budget-Friendly Solutions" />
            <h6>Tailored Educational Services</h6>
            <p>Customizing IT Solutions to Cater to Educational Needs.</p>
        </div>
        <div class="col-md text-center">
            <img style="max-width: 60px;margin-bottom: 15px;margin-top: 15px;" class="img-fluid" loading="lazy" src="/assets/images/sme-icon-4.png" alt="Customized IT Services" />
            <h6>Cutting-Edge EdTech Integration</h6>
            <p> Integrating Innovative EdTech Solutions for Educational Advancement.</p>
        </div>
        <div class="col-md text-center">
            <img style="max-width: 60px;margin-bottom: 15px;margin-top: 15px;" class="img-fluid" loading="lazy" src="/assets/images/sme-icon-5.png" alt="Innovative IT Integration" />
            <h6>Academic Partnership Excellence</h6>
            <p>Fostering Collaborative Partnerships that Elevate Academic Success.</p>
        </div>
        <div class="col-md text-center">
            <img style="max-width: 60px;margin-bottom: 15px;margin-top: 15px;" class="img-fluid" loading="lazy" src="/assets/images/sme-icon-6.png" alt="Innovative IT Integration" />
            <h6>Enhanced Security Measure</h6>
            <p>Implementing Robust Security to Safeguard Educational Institutions from Potential Threats.</p>
        </div>
    </div>
</div>

<div class="section home-container">
    <div class="row">
        <div class="col-md-6 position-relative">
            <img class="img-fluid" loading="lazy" src="/assets/images/sme-3.png" alt="">
            <div class="content-overlay">
                <h2>Personalized Account Support</h2>
                <p>Our dedicated Account Managers are here to assist you with tailored product recommendations and competitive pricing.</p>
            </div>
        </div>
        <div class="col-md-6 position-relative">
            <img class="img-fluid" loading="lazy" src="/assets/images/sme-4.png" alt="">
            <div class="content-overlay">
                <h2>Online Account Tools</h2>
                <p>Access your account for exclusive pricing and streamlined purchasing tools, making your online experience more efficient.</p>
            </div>
        </div>
    </div>
</div>

<app-blog-section></app-blog-section>