.detail-style .reviews-ctn {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.reviews-ctn{margin-top: 20px;}

.SA__wrapper .SA__container {
    max-width: 100% !important;
    background-color: #fff;
    padding-bottom: 15px;
}

.reviews-wrapper {
    max-width: 100% !important;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    -webkit-gap: 10px;
    gap: 10px;
    /* padding-inline: 20px; */
    padding-block: 10px;
    margin-bottom: 20px;
    position: relative;
}

.review-left {
    min-width: clamp(250px, 20%, 250px);
}

.review-right {
    flex-grow: 1;
    position: relative;
}

.review-right .review-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.review-box { border: 1px solid #DDDDDD !important; background-color: #fff; text-align: center; justify-content: center; display: flex; flex-direction: column; padding: 10px 0; position: relative;height: 10rem; box-sizing: content-box; overflow: hidden; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; } .review-right .review-box { justify-content: flex-start; text-align: left; padding: 10px; } .review-box a { color: #000; font-weight: 500; font-size: 18px; margin-bottom: 10px; } .rating-heading { text-align: center; font-size: 24px; letter-spacing: 0px; color: #000; margin-bottom: 10px; font-weight: 700; line-height: 1; } .rating-heading span { font-size: 20px; } .SA__rating_wrap { display: inline-flex; margin: 0 auto 10px; width: 100%; justify-content: center; } .sa-logo{ border-top: 1px solid #DDDDDD; padding: 10px 0 0; display: block; } .review-right .review-box .stars { display: inline-flex; width: 100%; } .review-box .rv-content { padding: 0; margin: 7px 0 0 0; font-size: 12px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 5; overflow: hidden; text-overflow: ellipsis; }
.nme {font-size: 14px;font-weight: 500;margin-bottom: 0;color:#000;}
.date{font-size: 12px;}
.review-right .review-box:hover { box-shadow: 0px 3px 10px #00000040; max-height: fit-content; } .swiper-button-nextx, .swiper-button-prevx{ background: url('/assets/icons/arrow-right.svg') no-repeat; width: 11px; height: 17px; position: absolute; top: 50%; opacity: 0.7; } .swiper-button-nextx { transform: translateY(-50%); right: -15px; } .swiper-button-prevx { transform: translateY(-50%) rotate(180deg); left: -15px; } .swiper-button-prevx[aria-disabled="true"] { opacity: 0.3; cursor: not-allowed; } .swiper-button-nextx[aria-disabled="true"] { opacity: 0.3; cursor: not-allowed; }

@media screen and (max-width: 575px) {

    .reviews-wrapper {flex-direction: column;min-height: auto;padding: 0;}
    .review-right .review-container{position: relative;}
    .review-left .review-box { flex-direction: row; height: auto; justify-content: flex-start; padding: 7px 0px 5px 60px; height: 40px; }
    .review-left .review-box:after{content: "";width: 1px;height: 54px;background-color: #ddd;
    position: absolute;left: 50px;top: -2px;transform: rotate(20deg);}
    .review-left .SA__rating_wrap { order: 3; width: auto; margin: 0; } .review-left .rating-heading { order: 2; margin: 0 5px 0 0; font-size: 18px; } .review-left .sa-logo { width: 44px; overflow: hidden; border: none; padding: 0; position: absolute; left: 0; top: 0; padding: 12px 10px; } .review-left .review-box a { order: 4; position: absolute; top: 25px; margin: 0; font-size: 12px; } .star.big{ font-size: 18px; } .review-left .sa-logo img {min-width: 180px;}
    .swiper-button-nextx, .swiper-button-prevx{top: 60%;}
}
