<div class="reviews-ctn home-container">
    <div class="reviews-ctn-inner">
        <h2 class="section-title">Reviews</h2>

        <!--<div class="reviews">
      <div id="SA_wrapper_default" class="SA__wrapper"></div>
      <div id="trustbox" class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36"
    data-businessunit-id="5c125dad16ae040001dff2f1" data-style-height="140px" data-style-width="100%"
    data-theme="light" data-stars="4,5" data-review-languages="en">
    <a href="https://www.trustpilot.com/review/itechdevices.ae" target="_blank" rel="noopener">Trustpilot</a>
</div>
    </div>-->
        <!-- Static Reviews -->
        <div class="reviews-wrapper">
            <div class="review-left">
                <button type="button" class="simple-button swiper-button-prevx"></button>
                <button type="button" class="simple-button swiper-button-nextx"></button>
                <div class="review-box">

                    <div class="SA__rating_wrap">
                        <app-star-rating [size]="'big'" [rating]="
                  this.reviews.siteinfo != null
                    ? this.reviews.siteinfo?.average_rating
                    : 5
                " [totalRating]="5"></app-star-rating>
                    </div>
                    <span class="rating-heading">{{
              this.reviews.siteinfo != null
              ? this.reviews.siteinfo?.average_rating
              : 5
              }}</span>
                    <a href="https://www.shopperapproved.com/reviews/itechdevices.ae/" target="_blank">{{
              this.reviews.siteinfo != null
              ? this.reviews.siteinfo?.total_reviews
              : 0
              }}
              Verified Reviews</a>
                    <span class="sa-logo">
              <img src="/assets/svg/shopper-approved.svg" alt="" width="180" height="28">
            </span>
                </div>
            </div>
            <div class="review-right">
                <div class="review-container" style="width: 100%">
                    @if(reviews?.reviews != null){

                    <swiper-container navigation-prev-el=".swiper-button-prevx" navigation-next-el=".swiper-button-nextx" [breakpoints]="options" style="width: 100%" class="reviewSlider">
                        @for(review of reviews?.reviews ; track review){ @if(review.review_id){
                        <swiper-slide swiperSlide>
                            <div class="review-box">
                                <div class="stars">
                                    <app-star-rating [rating]="review.overall" [totalRating]="5"></app-star-rating>
                                </div>
                                <p class="nme">{{ review?.display_name }}</p>
                                <span class="date">{{
                    review?.review_date | date : "YYYY-MM-dd"
                    }}</span> @if(review?.comments !== null) {
                                <p class="rv-content">{{ review?.comments }}</p>
                                }
                            </div>
                        </swiper-slide>
                        } }
                    </swiper-container>
                    }
                </div>
            </div>
        </div>
    </div>
</div>