<div
  class="hero-ctn home-container"
  style="background: url('/assets/images/bg-s2.png')"
>
  <div class="content-part">
    <h1>Cyber Attacks — Are You Safe?</h1>
    <p>
      Cyber attacks can cost a company millions of dollars in ransoms and lost
      customer trust. In addition, they’re scary, and they can distract you from
      normal business operations. <br /><br />Don’t be a victim. There are
      plenty of easy things you can do right now to shore up your cybersecurity,
      so you’re less likely to be a target. Learn what we can do for you to
      prevent a cyber attack.
    </p>
    <a [routerLink]="'/contact-us'" class="btn">Talk to Us</a>
  </div>
</div>

<div class="features-ctn home-container">
  <h2 class="text-center">What We Recommend For You</h2>

  <div class="feature-box reversed-box">
    <div class="text-area">
      <h2>The Cost Of Cybercrime</h2>
      <p>
        Cybercrime cost U.S. companies $6.9 billion in 2021. That number is
        projected to grow, especially as more and more people throughout the
        world go online and a larger and larger amount of the online population
        develops the skills they need to hack you.<br /><br />
        Cybersecurity Ventures expects cybercrime to grow by 15% per year over
        the first half of this decade. Even if you haven’t been a target before,
        that could change at any time.
      </p>
    </div>
    <div class="icon-area">
      <img loading="lazy" src="/assets/images/hacker.png" alt="Cloud" />
    </div>
  </div>

  <div class="feature-box">
    <div class="text-area">
      <h2>Staying Safe</h2>
      <p>
        Make sure you’re not the next victim. There are no-nonsense systems you
        can put in place to protect yourself, make yourself a less attractive
        target to cybercriminals, and greatly reduce the likelihood of an
        attack. <br /><br />With all our experience in cybersecurity, we know
        how to help you stay safe. Contact us to learn how you can stay safe,
        even as cybercrime becomes a bigger and bigger threat.
      </p>
    </div>
    <div class="icon-area">
      <img loading="lazy" src="/assets/images/security.png" alt="Building" />
    </div>
  </div>

  <div class="feature-box reversed-box">
    <div class="text-area">
      <h2>Be Proactive</h2>
      <p>
        Maybe you’ve never been the target of a cyber attack before, but that
        doesn’t mean you won’t be in the future. It’s nothing to scoff at, and
        if it happens, it can cause serious problems for your business. (Often
        managers need a scapegoat, so they fire some of their IT staff.)<br /><br />
        Be proactive, and shore up your cybersecurity in advance. That way,
        you’ll never have to deal with a cyber attack.
      </p>
    </div>
    <div class="icon-area">
      <img loading="lazy" src="/assets/images/idea.png" alt="Cloud" />
    </div>
  </div>
</div>

<!-- <div class="hero-ctn home-container" style="background: url('/assets/images/cta-bg.jpg');">
  <div class="content-part">
    <h1>What Do You Need?</h1>
    <p>
      Whatever your IT needs are, we'll be happy to help. Schedule a free consultation with us, and we'll let you know
      what we can do for you.
    </p>
    <a href="#!" class="cta-btn white">Contact Us</a>
  </div>
</div> -->

<div class="ctn">
  <div class="ctn--inner">
    <div class="services-ctn">
      <h2 class="our-services home-container">Our Services</h2>

      <div class="services home-container">
        <div class="services-section1">
          <div>
            <h2>Intelligent Cybersecurity</h2>
            <p>
              Just like governments use intelligence to fight wars, companies
              can use intelligence to fend off cyber attacks. It won’t look like
              your average episode of 24, but it could save you from an
              expensive and embarrassing data breach. We’ll help protect you by
              actively scanning for threats and addressing them as they come up.
            </p>
          </div>

          <div>
            <h2>Cloud Security</h2>
            <p>
              The cloud is an incredible technology, and its benefits vastly
              outweigh its drawbacks. However, the cloud can also be especially
              vulnerable to attacks, because everything’s online. We’ll help you
              implement no-nonsense cloud security protocols that keep you
              protected.
            </p>
          </div>

          <div>
            <h2>Information Security</h2>

            <p>
              The average cost of a data breach in the US in 2020 was $8.64
              million. And no one’s exempt from attack — if your network’s
              vulnerable, then chances are, someone on the dark web will take
              notice.<br /><br />
              Fortunately, there are no-brainer protocols you can put in place
              to drastically reduce your chances of being attacked — and improve
              your defenses in the event you are attacked. Make sure your
              information doesn’t fall into the wrong hands — contact us about
              securing your information today.
            </p>
          </div>

          <div>
            <h2>Network Security</h2>
            <p>
              If a hacker gets access to your network, it could mean big
              trouble. Someone can access your confidential data, pose as
              someone from your company, or even take control of your website.
              We’ll help you set up firewalls, remote access VPN’s, and other
              systems so your network stays safe.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-blog-section></app-blog-section>
<app-contact-card></app-contact-card>
