<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<!-- Use the iisnode module to handle requests -->
<handlers>
<add name="iisnode" path="server.mjs" verb="*" modules="iisnode"/>
</handlers>
<rewrite>
<rules>
<!-- Redirect all requests to the server.mjs file -->
<rule name="DynamicContent">
<conditions>
<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True"/>
</conditions>
<action type="Rewrite" url="dist/salsoftfront/server/server.mjs"/>
</rule>
</rules>
</rewrite>
<!-- Disable caching for all responses -->
<staticContent>
<clientCache cacheControlMode="DisableCache"/>
</staticContent>
 
        <!-- Show detailed errors -->
<httpErrors errorMode="Detailed" />
</system.webServer>
</configuration>
