<main class="home-container">
    <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
    <div class="static-container">
        <h1>Order</h1>
        <p>Itech Devices is a global supplier of IT infrastructure parts, with offices and warehouses in the US, UK, Germany, China, and UAE. To place an order with Itech Devices, simply follow these steps:</p>
        <ol>
            <li>Visit our website and browse our selection of products</li>
            <li>Add the items you wish to purchase to your cart</li>
            <li>At checkout, select your shipping country and method</li>
            <li>Enter your shipping and billing information
            </li>
            <li>Review your order and click "Place Order"
            </li>
        </ol>
        <p><strong>Payment Methods</strong>:</p>
        <p><strong>Credit and Debit Cards:</strong> We accept American Express, Visa, MasterCard and Discover through a secure payment system. (Please note: Your card will be charged on the order day for security purposes).</p>
        <p><strong>Bank Transfer:</strong> Customers can select the bank transfer (wire transfer) method for placing orders. To ensure a seamless transfer process, customer verification is necessary before order processing can commence.</p>
        <p><strong>Net Terms Payment:</strong> Customers who meet the qualifying criteria for Itech Devices's net terms can utilize this payment method, allowing them to place orders with a generous payment window of up to 30 days.</p>
        <p><strong>International Order Processing</strong></p>
        <p>Once you have placed your international order, we will verify your order details and ensure that all necessary documentation is in order. We may also need to contact you to request additional information.&nbsp;</p>
        <p>And when your order is processed, it will be shipped to you using your preferred shipping method. We will provide you with an order tracking number so that you can track the progress of your shipment.</p>
        <p><strong>International Order Delivery</strong></p>
        <p>Delivery times for international orders will vary depending on your shipping country and method. However, most international orders are delivered within 5-8 business days.</p>
        <p>Please note that shipping costs for international orders do not cover taxes or duties. You may be responsible for paying additional taxes and duties upon delivery of your order.
        </p>
        <p>Certain international orders may require additional verification, which may lead to a minor delay in shipping. This is a necessary step to ensure the accuracy of your order and avoid the complexities of a potential return.</p>
        <p>If there are any changes to your order after you place it, we will promptly notify you. You will have the option to cancel your order and receive a full refund, or to proceed with the order at the updated price.</p>
    </div>
</main>