<main class="home-container">
    <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
    <div class="static-container">
        <h1>Sales Information</h1>
        <p>Itech Devices stands as your dedicated provider for a broad spectrum of IT parts and products from distinguished brands, such as Dell, HP, IBM, Supermicro, Intel, Juniper, Ubiquity, Seagate, Samsung, Western Digital, Toshiba, Fortinet, Oracle,
            and Microsoft.</p>
        <p>We pride ourselves on addressing the individual needs of our customers, ensuring that you always find the right IT solutions with us. Our diverse inventory includes both new and certified refurbished items compatible with numerous devices. From
            components for your Dell PowerEdge or HP Proliant server series to networking devices from Juniper or Fortinet, we offer an expansive selection encompassing CPUs, memory modules, hard drives, SSDs, GPUs, PSUs, motherboards and other IT parts.</p>
        <p>Our platform is designed for ease of navigation and secure order placement. However, if you wish for more personalized assistance, our dedicated sales representatives are always ready to guide and support you.
        </p>
        <p><strong>Customer Service:</strong></p>
        <p>James Mcgill | Email: <a href="mailto:james@itechdevices.ae">james&#64;itechdevices.ae</a> | Direct Number: 650-216-7010
        </p>
        <p>Steven Justice | Email: <a href="mailto:steven.justice@itechdevices.ae">steven.justice&#64;itechdevices.ae</a> | Direct Number: 415-938-9434</p>
        <p></p>
        <p><strong>Sales Department:</strong></p>
        <p>VP Sales: Ethan Klein | Email: <a href="mailto:ethan@itechdevices.ae">ethan&#64;itechdevices.ae</a> | Direct Number: 510-766-2805 | LinkedIn: <a href="https://www.linkedin.com/in/ethan-klein-9ba156249/">https://www.linkedin.com/in/ethan-klein-9ba156249/</a>
        </p>
        <p>AVP Sales: Eddie Walker | Email: <a href="mailto:eddie@itechdevices.ae">eddie&#64;itechdevices.ae</a> | Direct Number: 510-736-4725 | LinkedIn: <a href="https://www.linkedin.com/in/eddie-walker-76431b206/">https://www.linkedin.com/in/eddie-walker-76431b206/</a>
        </p>
    </div>
</main>