<main class="home-container">
    <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
    <div class="static-container">
        <h1>Preferred Partner Program</h1>
        <p>Itech Devices stands as an ideal supplier for customers seeking both new and refurbished IT hardware products. By establishing a customer-centric approach, we have streamlined our supply chain to ensure that every individual customer receives
            products tailored to their unique needs.
        </p>
        <p>Become a preferred partner and get the benefits you need to grow. Join now!</p>
        <ul>
            <li><strong>Dedicated Account Manager: </strong>Every customer is unique, and so are their needs. With a dedicated account manager, you'll receive personalized assistance tailored to your requirements</li>
            <li><strong>Up to $1M Net Terms: </strong>Simplify financial transactions with flexible Net 30 payment option</li>
            <li><strong>On-demand Tech Support: </strong>Our on-call tech support ensures that your queries and technical issues are addressed promptly, ensuring a smooth user experience</li>
            <li><strong>Personalized Pricing: </strong>We tailor our pricing strategies to match the individual needs and budgets of our customers, ensuring value at every purchase</li>
            <li><strong>Manufacturer Partnerships: </strong>We have built strong relationships with leading manufacturers, ensuring that our customers always receive genuine, top-tier products
            </li>
            <li><strong>Priority Logistics: </strong>We understand the importance of time. Our priority logistics ensures swift and efficient delivery every time</li>
            <li><strong>Inventory Facility:</strong> With a vast inventory at our disposal, we guarantee that the product you need is always available, eliminating unnecessary wait times</li>
            <li><strong>Test Labs: </strong>Quality assurance is paramount. Every product undergoes rigorous testing in our state-of-the-art labs to ensure optimal performance and reliability</li>
            <li><strong>Exclusive Savings: </strong>Unlock access to cost-effective and budget-friendly solutions and services</li>
        </ul>
    </div>
</main>