<style>
    .acct-box {
        max-width: 800px;
        margin: 0 auto;
        padding: 30px 0 50px;
    }

    .acct-form {
        padding: 30px;
        background-color: #f3f3f3;
    }

    .acct-box h1 {
        text-transform: uppercase;
        color: #494949;
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 10px;
    }

    .acct-box h2 {
        text-transform: uppercase;
        color: #494949;
        font-weight: 700;
        font-size: 26px;
    }

    .acct-box h2 span {
        font-size: 18px;
        font-weight: 700;
        display: block;
        line-height: 18px;
    }

    .form-text {
        font-size: 18px;
        color: #494949;
    }

    .acct-form label {
        color: #6a6a6a;
        margin-bottom: 5px;
    }

    .acct-form input {
        box-shadow: none;
        background-color: white;
        border-radius: 0;
        border: 1px solid #cecece;
    }

    .acct-form a,
    .cancel-grey {
        color: var(--primary);
        border: none;
        background-color: transparent;
        text-decoration: underline;
    }

    .acct-form .btn {
        min-width: 150px;
        margin-top: 10px;
        color: #fff;
        border: none;
        margin-top: 0 !important;
    }

    .acct-form .btn:hover {
        background-color: #f3ab1d;
        color: #000;
    }
    .acct-form .btn.yellow{background-color: #f3ab1d;color: #000;text-decoration: none;}
</style>
<div class="checkOut Login">
    <div class="home-container">
        <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
    </div>
    <div class="container">
        <div class="row acct-box new-form">
            <div class="col-md-12">
                <div *ngIf="formcreated" class="acct-form">
                    <h1>RESET PASSWORD</h1>
                    <form [formGroup]="passwordForm" (submit)="submitForm(passwordForm)" class="padding-box">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Pass">What would you like your new password to be?</label>
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label for="Pass">New Password*</label>
                                <div class="password-container">
                                <input formControlName="password" type="{{(showPassword)? 'text' : 'password'}}" class="form-control password-input">
                                <span class="toggle-password" >
                                  @if(!showPassword){
                                  <span (click)="showPassword=true"><img src="/assets/svg/close-eye.svg" loading="lazy" alt="Show Password" width="20" height="16"></span>
                                  } @else{
                                    <span (click)="showPassword=false"><img src="/assets/svg/eye.svg" loading="lazy" alt="Hide Password" width="20" height="16"></span>
                                  }
                                </span>
                                </div>
                                <div class="error-block" *ngIf="passwordForm.controls.password.invalid && (passwordForm.controls.password.dirty || passwordForm.controls.password.touched)">
                                    <p class="error" *ngIf="passwordForm.controls.password.hasError('required') ">
                                        Please enter your password
                                    </p>




                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ConfirmPass">Confirm Password*</label>
                                <div class="password-container">
                                <input formControlName="confirm_password" type="{{(showPassword)? 'text' : 'password'}}" class="form-control password-input">
                                <span class="toggle-password" >
                                  @if(!showPassword){
                                  <span (click)="showPassword=true"><img src="/assets/svg/close-eye.svg" loading="lazy" alt="Show Password" width="20" height="16"></span>
                                  } @else{
                                    <span (click)="showPassword=false"><img src="/assets/svg/eye.svg" loading="lazy" alt="Hide Password" width="20" height="16"></span>
                                  }
                                </span>
                                </div>
                                <div class="error-block" *ngIf="passwordForm.controls.confirm_password.invalid && (passwordForm.controls.confirm_password.dirty || passwordForm.controls.confirm_password.touched)">
                                    <p class="error" *ngIf="passwordForm.controls.confirm_password.hasError('required') ">
                                        Please enter your password again
                                    </p>

                                    <p class="error" *ngIf="passwordForm.controls.confirm_password.hasError('confirmedValidator') ">
                                        Passwords do not match.
                                    </p>


                                </div>

                            </div>
                        </div>
                        <div class="form-group d-flex flex-wrap justify-content-between mt-4">
                            <button type="submit" [class.spinner]="loading" [disabled]="loading || passwordForm.invalid" class="btn reset-pass-blue">Save</button>
                            <a style="float:right" [routerLink]="['/user/login']" class='btn yellow forget-pass link-click'>Login</a>
                        </div>
                    </form>
                </div>
            </div>
            <!--  -->
            <div [hidden]="!success"  class="col-md-12">
                <div class="acct-form text-center mt-3">
                    <img loading="lazy" alt="success" src='assets/images/success-icon.png' />
                    <h4>Success!</h4>
                    <p>Your Password has been Successfully Changed!</p>
                    <button (click)="gotoLogin()" type="submit" class="btn signin-blue reset-pass-blue">Go Back</button>
                </div>
            </div>

        </div>
    </div>
</div>
