<div class="main-ctn">
  <div class="featured-ctn home-container">
    <div class="d-flex align-items-center justify-content-between">
      <h2 class="section-title" style="font-weight: 700;">Featured Categories</h2>
      <a href="" class="viewall">View All >></a>
    </div>

    <div class="row justify-content-center g-3 g-md-4">
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="featuresbox">
          <div class="content">
            <h4>Hard Drive</h4>
            <ul>
              <li><a href="categories/hard-drives/server-hard-drives.html">Server HDD</a></li>
              <li><a href="categories/hard-drives/laptop-hard-drives.html">Laptop HDD</a></li>
              <li><a href="categories/hard-drives/desktop-hard-drives.html">Desktop HDD</a></li>
            </ul>
          </div>
          <img loading="lazy" width="120" height="122" class="img-fluid" alt="Hard Drive" src="/assets/webp/cat-1.webp">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="featuresbox">
          <div class="content">
            <h4>Memory</h4>
            <ul>
              <li><a href="categories/memory/server-memory.html">Server RAM</a></li>
              <li><a href="categories/memory/desktop-memory.html">Desktop RAM</a></li>
              <li><a href="categories/memory/laptop-memory.html">Laptop RAM</a></li>
            </ul>
          </div>
          <img loading="lazy" width="120" height="122" class="img-fluid" alt="Memory" src="/assets/webp/cat-2.webp">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="featuresbox">
          <div class="content">
            <h4>Motherboards</h4>
            <ul>
              <li><a href="categories/motherboards/server-motherboards.html">Server Motherboards</a></li>
              <li><a href="categories/motherboards/desktop-motherboards.html">PC Motherboards</a></li>
              <li><a href="categories/motherboards/laptop-motherboards.html">Laptop Motherboards</a></li>
            </ul>
          </div>
          <img loading="lazy" width="120" height="122" class="img-fluid" alt="Motherboards" src="/assets/webp/cat-3.webp">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="featuresbox">
          <div class="content">
            <h4>Networking</h4>
            <ul>
              <li><a href="categories/network-and-accessories/networking-by-category/switches.html">Switches</a></li>
              <li><a href="categories/network-and-accessories/wireless-networking/wireless-routers.html">Wireless
                  Routers</a></li>
              <li><a href="categories/network-and-accessories/transceivers.html">Transceivers</a></li>
            </ul>
          </div>
          <img loading="lazy" width="120" height="122" class="img-fluid" alt="Networking" src="/assets/webp/cat-4.webp">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="featuresbox">
          <div class="content">
            <h4>Power Supplies</h4>
            <ul>
              <li><a href="categories/power-supplies/atx-power-supplies.html">ATX PSU</a></li>
              <li><a href="categories/power-supplies/redundant-power-supplies.html">Redundant PSU</a></li>
              <li><a href="categories/power-supplies/external-power-supplies.html">External PSU</a></li>
            </ul>
          </div>
          <img loading="lazy" width="120" height="122" class="img-fluid" alt="Power Supplies" src="/assets/webp/cat-5.webp">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="featuresbox">
          <div class="content">
            <h4>Processors</h4>
            <ul>
              <li><a href="categories/processors/intel-processors.html">Intel Processors</a>
              </li>
              <li><a href="categories/processors/amd-processors.html">AMD Processors</a></li>
              <li><a href="categories/processors/ibm-processors.html">IBM Processor</a></li>
            </ul>
          </div>
          <img loading="lazy" width="120" height="122" class="img-fluid" alt="Processors" src="/assets/webp/cat-6.webp">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="featuresbox">
          <div class="content">
            <h4>SSD</h4>
            <ul>
              <li><a href="categories/hard-drives/solid-state-drives/m.2-solid-state-drives.html">M.2 SSD</a></li>
              <li><a href="categories/hard-drives/solid-state-drives/sata-solid-state-drives.html">SATA SSD</a></li>
              <li><a href="categories/hard-drives/solid-state-drives/sas-solid-state-drives.html">SAS SSD</a></li>
            </ul>
          </div>
          <img loading="lazy" width="120" height="122" class="img-fluid" alt="Solid State Drives" src="/assets/webp/cat-7.webp">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="featuresbox">
          <div class="content">
            <h4>Video Cards</h4>
            <ul>
              <li><a href="categories/hard-drives/solid-state-drives/m.2-solid-state-drives.html">DVI Adapter</a></li>
              <li><a href="categories/hard-drives/solid-state-drives/sata-solid-state-drives.html">VGA Adapter</a></li>
              <li><a href="categories/hard-drives/solid-state-drives/sas-solid-state-drives.html">HDMI Adapter</a></li>
            </ul>
          </div>
          <img loading="lazy" width="120" height="122" class="img-fluid" alt="Video Cards" src="/assets/webp/cat-8.webp">
        </div>
      </div>
      <!-- <div class="row justify-content-center gx-2 gx-lg-1">
        @for(item of (data | async)|keyvalue; track item){

        <div class="col-4 col-sm-4 col-md-3 mb-4 col-lg">
          <div class="featuresbox">
          <div class="content">
            <a href="{{ item?.value.url }}"
              ><img
                loading="lazy"
                class="img-fluid"
                alt="{{ item?.value.title }}"
                width="120"
                height="122"
                [lazyLoad]="imagesPath + item?.value?.category?.image"
            /></a>
            <h4>{{ item?.value.title }}</h4>
            <ul>
              @for(child of item?.value.children; track child){
                <li>
                  <a href="{{ child?.url }}">{{ child?.title }}</a>
                </li>
              }
            </ul>
          </div>
        </div>
        }
      </div> -->
    </div>
  </div>