 <!-- customer Reviews-->

 <div data-aos-easing="ease-in" data-aos="fade-left" data-aos-once="true" data-aos-duration="1000"  class="container customer-review-container">
  <div class="row m-t-15 customer-review">
      <div class="col-sm-12">


            <ngx-slick-carousel
            class="testimonials slider"
          #slickModal="slick-carousel"
          [config]="slideConfig"
        >

              <div   ngxSlickItem  class=" rating-box">
                  <div class="inner">
                      <img src="/assets/svg/quote-left.svg" loading="lazy" alt="left quote" width="" height="">
                      <p>Lorem Ipsum is simply dummy text of the printing and tytting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>

                      <div class="stars">
                          <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                          <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                          <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                          <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                          <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">

                      </div>
                      <h4>Waxli Haderly</h4>
                  </div>
              </div>


              <div   ngxSlickItem  class=" rating-box">
                <div class="inner">
                    <img src="/assets/svg/quote-left.svg" loading="lazy" alt="left quote" width="" height="">
                    <p>Lorem Ipsum is simply dummy text of the printing and tytting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>

                    <div class="stars">
                        <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                        <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                        <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                        <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                        <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">

                    </div>
                    <h4>Waxli Haderly</h4>
                </div>
            </div>
            <div   ngxSlickItem  class=" rating-box">
              <div class="inner">
                  <img src="/assets/svg/quote-left.svg" loading="lazy" alt="left quote" width="" height="">
                  <p>Lorem Ipsum is simply dummy text of the printing and tytting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>

                  <div class="stars">
                      <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                      <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                      <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                      <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                      <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">

                  </div>
                  <h4>Waxli Haderly</h4>
              </div>
          </div>
          <div   ngxSlickItem  class=" rating-box">
            <div class="inner">
                <img src="/assets/svg/quote-left.svg" loading="lazy" alt="left quote" width="" height="">
                <p>Lorem Ipsum is simply dummy text of the printing and tytting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>

                <div class="stars">
                    <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                    <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                    <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                    <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                    <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">

                </div>
                <h4>Waxli Haderly</h4>
            </div>
        </div>
        <div   ngxSlickItem  class=" rating-box">
          <div class="inner">
              <img src="/assets/svg/quote-left.svg" loading="lazy" alt="left quote" width="" height="">
              <p>Lorem Ipsum is simply dummy text of the printing and tytting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>

              <div class="stars">
                  <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                  <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                  <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                  <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">
                  <img src="/assets/svg/star.svg" loading="lazy" alt="left quote" width="" height="">

              </div>
              <h4>Waxli Haderly</h4>
          </div>
      </div>





            </ngx-slick-carousel>




    </div>

  </div>
</div>

<!--customer Reviews-->
