<div class="hero-ctn home-container" style="background: url('/assets/images/sp5.png')">
  <div class="content-part">
    <h1>Get The Most From Your Tech.</h1>
    <p>
      Having a physical technology infrastructure still offers many advantages
      over going fully online. But it’s also very costly, and you have to
      constantly maintain it.<br /><br />
      Don’t make your tech team focus on maintenance. Let us handle the boring,
      routine stuff, while you focus on the future. We can come to your site and
      do installations and maintenance by hand, or simply offer assistance over
      the internet. And we can help make your tech work a lot better, while also
      reducing your burden.
    </p>
    <a [routerLink]="'/contact-us'" class="btn">Talk to Us</a>
  </div>
</div>

<div class="features-ctn home-container">
  <h2 class="text-center">What We Recommend For You</h2>

  <div class="feature-box reversed-box">
    <div class="text-area">
      <h2>Be More Agile.</h2>
      <p>
        Having a dedicated team of professionals handling your tech allows you
        to be a forward-looking company. Don’t distract your top guys from their
        primary duties — instead, get the most out of your talent.
      </p>
    </div>
    <div class="icon-area">
      <img loading="lazy" src="/assets/images/agile.png" alt="Cloud" />
    </div>
  </div>

  <div class="feature-box">
    <div class="text-area">
      <h2>Reduce Risk.</h2>
      <p>
        If any of your company’s sensitive information falls into the wrong
        hands, it could spell trouble. Decrease the chances of that happening
        with no-nonsense cybersecurity protocols.
      </p>
    </div>
    <div class="icon-area">
      <img loading="lazy" src="/assets/images/risk.png" alt="Building" />
    </div>
  </div>

  <div class="feature-box reversed-box">
    <div class="text-area">
      <h2>Get Your Tech Right.</h2>
      <p>
        Your network works better when you can focus on all the wonderful things
        it can do, instead of constantly fixing it. View your technology as an
        asset, not as a burden. Let us help you transform it into the glue that
        holds your business together.
      </p>
    </div>
    <div class="icon-area">
      <img loading="lazy" src="/assets/images/correct.png" alt="Cloud" />
    </div>
  </div>
</div>

<!-- <div class="hero-ctn home-container" style="background: url('/assets/images/cta-bg.jpg');">
  <div class="content-part">
    <h1>What Do You Need?</h1>
    <p>
      Whatever your IT needs are, we'll be happy to help. Schedule a free consultation with us, and we'll let you know
      what we can do for you.
    </p>
    <a href="#!" class="cta-btn white">Contact Us</a>
  </div>
</div> -->

<div class="ctn">
  <div class="ctn--inner">
    <div class="services-ctn">
      <h2 class="our-services home-container">Our Services</h2>

      <div class="services home-container">
        <div class="services-section1">
          <div>
            <h2>Managed Infrastructure Services</h2>
            <p>
              Managing your IT infrastructure can be a difficult job. Plus, it
              can fluctuate in how many people you need to take care of
              everything. Sometimes you need a team of 50 employees, while
              sometimes, 10 can do the job. Instead of constantly hiring and
              firing people, or reassigning internal employees, let an outside
              team handle it.
            </p>
          </div>

          <div>
            <h2>End User Services</h2>

            <p>
              It’s the 21st century, and today’s workers are used to using
              easy-to-use softwares and programs. Using a clunky, hard-to-use
              program is frustrating, so it’s important for job satisfaction and
              morale — not to mention productivity — that everything you give
              them is simple and intuitive. If your employees are constantly
              complaining about your organizational softwares, we’ll help you
              design easy-to-use tools that make people happy and improve your
              reputation.
            </p>
          </div>

          <div>
            <h2>Disaster Recovery Service</h2>
            <p>
              What’s your plan if you lose something? You have to have
              contingencies ready to go in case the worst happens. We’ll help
              you get backups in place, so you can run your business with peace
              of mind.
            </p>
          </div>
        </div>
        <div class="services-section2">
          <div>
            <h2>Device As A Service</h2>
            <p>
              Outdated hardware can expose your business to needless security
              risks — and not to mention, it’s just less efficient to use old
              computers. Get the up-to-date hardware you need to run your
              business.
            </p>
          </div>

          <div>
            <h2>Lifecycle Services</h2>
            <p>
              How long do you expect your IT assets to last? Technology — from
              computers to software — can be big investments, and you don’t want
              to have to spend money on new ones more than necessary. We’ll help
              you manage what you have so you get the most bang for your buck.
            </p>
          </div>

          <div>
            <h2>Virtualization</h2>

            <p>
              Virtualization can make your computers more effective, because it
              lets them easily run programs that would normally take multiple
              devices. This unlocks the door to a number of interesting
              possibilities. It’s easier than you think to set up, and we’ll be
              happy to help.
            </p>
          </div>
        </div>

        <div class="services-section3">
          <div>
            <h2>Managed Print Services</h2>

            <p>
              Printers are some of the most frustrating machines ever invented.
              When they don’t work, it can cause big problems at your office.
              Have a dedicated IT team ready to go for when your printers stop
              working, so your business doesn’t slow down.
            </p>
          </div>

          <div>
            <h2>Staff Augmentation Services For IT</h2>
            <p>
              The most important part of any good IT system is your people.
              They’re the backbone of everything you do. But in today’s labor
              market, getting the right people in place is harder than ever. We
              have a few tricks up our sleeve, though, and we’ll be happy to
              help you build your “dream team”.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-blog-section></app-blog-section>
<app-contact-card></app-contact-card>
