<div class="features-brand-ctn ">
  <div class="features-brand-ctn-inner home-container">
    <h2 class="section-title text-center">Our Partners</h2>

    <div class="features-brand-slider">
      <button class="simple-button swiper-button-nextb"></button>
      <button class="simple-button swiper-button-prevb"></button>
      <swiper-container navigation-next-el=".swiper-button-nextb" navigation-prev-el=".swiper-button-prevb" [breakpoints]="options" class="my-swiper">


      <swiper-slide><a href="brand/hp.html"><img loading="lazy" width="127" height="127" class="brand-logo" alt="HP" src="/assets/images/logo-1-hp.webp"></a></swiper-slide>
      <!-- <swiper-slide><a href="brand/cisco.html"><img loading="lazy" width="127" height="127" class="brand-logo" alt="Cisco" src="/assets/images/logo-30-cisco.webp"></a></swiper-slide> -->
      <swiper-slide><a href="brand/seagate.html"><img loading="lazy" width="127" height="127" class="brand-logo" alt="Seagate" src="/assets/images/logo-8-seagate.webp"></a></swiper-slide>
      <swiper-slide><a href="brand/western-digital.html"><img loading="lazy" width="127" height="127" class="brand-logo" alt="Western Digital" src="/assets/images/logo-21-wd.webp"></a></swiper-slide>
      <swiper-slide><a href="brand/dell.html"><img loading="lazy" width="127" height="127" class="brand-logo" alt="Dell" src="/assets/images/logo-36-dell.webp"></a></swiper-slide>
      <swiper-slide><a href="brand/ibm.html"><img loading="lazy" width="127" height="127" class="brand-logo" alt="IBM" src="/assets/images/logo-18-ibm.webp"></a></swiper-slide>
      <swiper-slide><a href="brand/toshiba.html"><img loading="lazy" width="127" height="127" class="brand-logo" alt="Toshiba" src="/assets/images/logo-37-toshiba.webp"></a></swiper-slide>
      <swiper-slide><a href="brand/kingston.html"><img loading="lazy" width="127" height="127" class="brand-logo" alt="Kingston" src="/assets/images/logo-57-kingston.webp"></a></swiper-slide>
      <swiper-slide><a href="brand/lenovo.html"><img loading="lazy" width="127" height="127" class="brand-logo" alt="Lenovo" src="/assets/images/logo-39-lenovo.webp"></a></swiper-slide>
      <swiper-slide><a href="brand/fujitsu.html"><img loading="lazy" width="127" height="127" class="brand-logo" alt="Fujitsu" src="/assets/images/logo-29-fujitsu.webp"></a></swiper-slide>
      <swiper-slide><a href="brand/samsung.html"><img loading="lazy" width="127" height="127" class="brand-logo" alt="Samsung" src="/assets/images/logo-11-samsung.webp"></a></swiper-slide>
      <swiper-slide><a href="brand/tp-link.html"><img loading="lazy" width="127" height="127" class="brand-logo" alt="TP-LINK" src="/assets/images/logo-151-tp-link.webp"></a></swiper-slide>
      <swiper-slide><a href="brand/ubiquiti.html"><img loading="lazy" width="127" height="127" class="brand-logo" alt="Ubiquiti" src="/assets/images/logo-240-ubiquiti.webp"></a></swiper-slide>
      <swiper-slide><a href="brand/HPE.html"><img loading="lazy" width="127" height="127" class="brand-logo" alt="HPE" src="/assets/images/logo-359-hp-enterprise.webp"></a></swiper-slide>


      </swiper-container>
    </div>
  </div>
</div>