<div class="home-container">
  <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
</div>

<div class="contact-page">
  <div class="banner">
    <div class="home-container">
      <h1>Contact Us</h1>
    </div>
  </div>
  <div class="form-section pt-4 pb-0">
    <app-contact-card></app-contact-card>
  </div>
  <div class="contact-section">
    <div class="home-container border-top">
      <div class="row">
        <div class="col-md-3 mb-3 mb-md-0">
          <div class="card">
            <img src="/assets/images/envelope.png" alt="">
            <h4>Email Address</h4>
            <a href="mailto:sales@itechdevices.ae">sales&#64;itechdevices.ae</a>
            <a href="mailto:support@itechdevices.ae">support&#64;itechdevices.ae</a>
          </div>
        </div>
        <div class="col-md-3 mb-3 mb-md-0">
          <div class="card">
            <img src="/assets/images/marker.png" alt="">
            <h4>Address</h4>
            <p>Attn: Order Inquiry</p>
            <a href="">Office 1904, Metropolis Tower - Opp Bay Square Dubai UAE 186138</a>
          </div>
        </div>
        <div class="col-md-3 mb-3 mb-md-0">
          <div class="card">
            <img src="/assets/images/phone.png" alt="">
            <h4>Phone Number</h4>
            <p>Phone: <a href="tel:+971554255786">+971-5-54255786</a></p>
            <!-- <p>International Phone: <a href="tel:+971554255786">+971-5-54255786</a></p> -->
          </div>
        </div>
        <div class="col-md-3 mb-3 mb-md-0">
          <div class="card">
            <img src="/assets/images/watch.png" alt="">
            <h4>Working Hour</h4>
            <p>Mon - Fri / 10:00 - 17:00 (UAE Standard Time)</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>