<main class="home-container">
    <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
    <div class="static-container">
        <h1>Warranty Info</h1>
        <p>Except for the warranties explicitly stated in this document, Itech Devices makes no other representations or warranties, either express or implied, about any products sold. This includes disclaiming any implied warranties of merchantability or
            fitness for a particular purpose. Any warranties arising from trade usage, the course of dealing, or the course of performance are also expressly disclaimed. Itech Devices serves as a distributor and reseller, not as a manufacturer of the
            products sold.</p>
        <p><strong>Refurbished Product Warranty</strong>: All certified refurbished products listed on Itech Devices come with a 90-day replacement policy. If a refund is your preferred route, please note that the warranty coverage is 30 days from the order
            receiving date. <em>Further details about returns in return section</em></p>
        <p><strong>Manufacturer Warranty</strong>: Some products sold at Itech Devices come with 1+ year manufacturer warranty, covering returns, replacements, and support. Itech Devices will pass on these warranties to you, the customer. For any warranty
            claims or support, please contact the manufacturer directly, following their terms and conditions. Manufacturer warranties may vary by category, and some items cannot be returned once their packaging is opened, like sealed retail boxed items.</p>
        <p><strong>Service Expectations: </strong>You expressly acknowledge that Itech Devices offers no guarantees that its services will: (a) Align with your requirements; (b) Be continuous, prompt, secure, or free from errors; (c) Satisfy your expectations;
            (d) Correct any software/program errors.</p>
        <p><strong>User Responsibility: </strong>Any materials downloaded or acquired through the use of Itech Devices services are at your sole discretion and risk. You bear complete responsibility for any damage to your computer system or data loss resulting
            from such activities. No advice or information obtained from Itech Devices, whether oral or written, shall create any warranty not explicitly mentioned in these terms and conditions.</p>
        <p><strong>Limitation of Liability: </strong>Under no circumstances shall Itech Devices be held responsible for any direct, indirect, incidental, special, punitive, or consequential damages, whether resulting from the use, misuse, or inability to
            use any product purchased from Itech Devices. This applies irrespective of the basis of the liability claim and whether Itech Devices had been advised of the potential for such damages or loss.
        </p>
        <p><strong>Exclusions: </strong>Itech Devices disclaims all responsibility for any personal injuries or property damage, potentially resulting from the use of products/services purchased, including, but not limited to, applications in military, medical,
            traffic control, and disaster prevention or any related equipment.</p>
        <ol>
            <li>Missing memory or flash cards resulting in faults</li>
            <li>Software-related issues (which will incur additional charges)</li>
            <li>Any customer-induced damage or alterations</li>
            <li>Parts not supplied by Itech Devices</li>
            <li>Misuse, unauthorized repairs, or modifications</li>
            <li>Natural or human-made disasters affecting the product</li>
            <li>Malfunctions due to unauthorized or self-compiled software</li>
            <li>Virus infections because of inadequate maintenance</li>
            <li>Issues due to non-standard expansion cards</li>
        </ol>
        <p>Please report any damages that occurred during transit within 2 working days of delivery, and provide pictures as documentation. All valid claims will be processed upon receipt of the returned component(s). Maintain the warranty card along with
            a copy of the invoice for all warranty claims</p>
        <p>For more information or if you have questions, you can reach us at:</p>
        <ul>
            <li><strong>Telephone</strong>: +971-5-54255786</li>
            <li><strong>Email</strong>: support&#64;itechdevices.ae</li>
        </ul>
    </div>
</main>