<div class="checkOut Address-add">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Address</li>
            </ol>
        </nav>
        <h1 class="csi Address-add-title">Verified Account</h1>




    </div>

    <!--forget password container-->
    <div class="container" style="display: none;">
        <div class="row forgot-password-box new-form">
            <div class="col-md-12">
                <div class="guest-top-box">
                    <span>Forgot Your Password?</span>
                    <form>
                        <div class='row address-form-row'>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="grey-text">Please enter your email address below to receive a password reset link.</label><br/>
                                    <label>Email*</label>
                                    <input type="email" class="form-control" placeholder="abc@gmail.com" />

                                </div>
                            </div>

                            <div class="col-md-12">
                                <button class="signin-blue reset-pass-blue">Reset Password</button>
                                <button class="cancel-grey">Resend</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
    <!--forget password container-->


    <!--verification box container-->

    <div class="container">
        <div class="row  new-form guest-box">
            <div class="col-md-12 password-success-box">
                <div class="">
                    <img loading="lazy" alt="success" src='assets/images/verified.png' />
                    <h4>Verified!</h4>
                    <p>Your have Successfully verified account</p>
                    <button type="submit" class="signin-blue reset-pass-blue">ok</button>
                </div>
            </div>

            <div class="col-md-12 password-success-box">
                <div class="">
                    <img loading="lazy" alt="success" src='assets/images/verified-cancel.png' />
                    <h4>Sorry, <br/> Verification Failed</h4>
                    <p>Please request a new verification link!</p>
                    <button type="submit" class="signin-blue reset-pass-blue">Resend</button>
                </div>
            </div>

        </div>
    </div>


    <!--verification box container end-->


</div>


<!--Add new Address Page-->
