<main class="home-container">
    <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
    <div class="static-container">
        <h1>Payment Methods</h1>
        <p>We accept the following forms of payment:</p>
        <ol>
            <li>Credit Cards
                <ul>
                    <li>Visa</li>
                    <li>MasterCard</li>
                    <li>American Express</li>
                    <li>Discover</li>
                </ul>
            </li>
            <li>Bank Transfers / Wire Transfer</li>
            <li>Net Credit&nbsp;</li>
        </ol>
        <p><strong>Payment Methods Not Accepted:</strong></p>
        <p>We do not accept payments through Paypal, checks or cash on delivery.</p>
        <p><strong>Contact Information:</strong></p>
        <p>You can reach us through the following contact methods:</p>
        <p>Phone Number: +971-5-54255786</p>
        <p>Address: Office 1904, Metropolis Tower - Opp Bay Square Dubai UAE 186138</p>
        <p>Email: support&#64;itechdevices.ae</p>
    </div>
</main>