<main class="home-container">
    <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
    <div class="static-container">
        <h1>Return Policy</h1>
        <ul>
            <li>All returns must be postmarked within thirty (30) days of the purchase date.</li>
            <li>Returned items must be in unused condition, with all original tags and labels attached.</li>
        </ul>
        <p><strong>Return Process</strong></p>
        <p>To initiate a return, kindly contact us at <strong>orders&#64;itechdevices.ae</strong> to fill out the <b><a href="/rma-form">Return
        Merchandise Authorization (RMA) form</a></b>. Once you have your RMA number:</p>
        <ul>
            <li>Securely pack the item in its original packaging.</li>
            <li>Include your proof of purchase.</li>
            <li>Ship your return to:</li>
        </ul>
        <p>iTech Devices</p>
        <p>Attn: Returns</p>
        <p>RMA #</p>
        <p>Office 1904 </p>
        <p>Metropolis Tower -Opp Bay Square </p>
        <p>Dubai 186138, United Arab Emirates</p>
        <p>Please note the customer is responsible for all return shipping charges</p>
        <p><strong>Exceptions</strong></p>
        <p>For defective or damaged products, please contact us at orders&#64;itechdevices.ae to arrange a refund or exchange.
        </p>
        <p><strong>Restocking Fees</strong></p>
        <ul>
            <li>A 25% restocking fee applies to all returns.</li>
        </ul>
        <p>iTech Devices reserves the right to charge a 50% restocking fee under the following conditions:</p>
        <ul>
            <li>Missing or Replaced Components</li>
            <li>Defective/DOA items with no issues found upon inspection</li>
            <li>Post-Warranty RMA claims (may not be available to all customers)</li>
            <li>Damaged or Tampered Packaging</li>
        </ul>
        <p><strong>Denial of Replacement</strong></p>
        <p> iTech Devices reserves the right to refuse a return / exchange request. Replacement may be denied if:
        </p>
        <ul>
            <li>The item does not match the details listed in the RMA form.</li>
            <li>Physical damage or tampering is evident.</li>
        </ul>
        <p><strong>Questions</strong></p>
        <p>If you have any questions regarding our return policy, feel free to reach out to us at:</p>
        <p>Email: orders&#64;itechdevices.ae</p>
        <p>Phone: +971-5-54255786</p>
    </div>
</main>