<!-- Welcome row -->

<div data-aos-easing="ease-in" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" class="full-width-container">

    <div class="container">

        <div class="row hdd-info-bottom">
            <div class="col-sm-12 text-center">
                <h2 class="heading-h2 text-center double-line">
                    <Span>Itech Devices - Fulfills Your IT Infrastructure Needs</Span>
                </h2>
                <p class="light-grey">Storage Drives, Memory, Motherboards, Power Supplies, Networking Devices and Processors</p>
            </div>
            <div class="col-lg-12 content">
                <p class="light-grey text-center">Specializing in legacy and contemporary IT hardware tailored to meet dynamic business and commercial requirements. Accepting Purchase Orders (POs) from all IT enterprises, corporate firms, Fortune 1000 companies, defense bureaus, government
                    agencies, local authorities, education institutions, and health sectors.</p>
                <p class="light-grey text-center"> Specializing in legacy and contemporary IT hardware tailored to meet dynamic business and commercial requirements. Accepting Purchase Orders (POs) from all IT enterprises, corporate firms, Fortune 1000 companies, defense bureaus, government
                    agencies, local authorities, education institutions, and health sectors.</p>
            </div>

        </div>



    </div>
    <!-- container -->
</div>
<!-- full width container -->



<!--green-signup-box-->
<div data-aos-easing="ease-in" data-aos="slide-up" data-aos-once="true" data-aos-duration="1000" class="container signup-green">
    <div class="row">
        <div class="col-sm-6">


            <div class="row feature-box">

                <div class="col-sm-6 flex-center">
                    <div class="float-left  welcome-icon">
                        <img loading="lazy" src="assets/images/time.png">
                    </div>
                    <div class="float-left">
                        <p class="welcome-row-title" style="padding-top: 10px;">Express delivery<br>
                            <span class="welcome-row-subtitle">Within promised ETAs</span>
                        </p>
                    </div>
                </div>


                <div class="col-sm-6 flex-center">
                    <div class="float-left welcome-icon">
                        <img loading="lazy" src="assets/images/fast.png">
                    </div>
                    <div class="float-left">
                        <p class="welcome-row-title" style="padding-top: 10px;">Free shipping<br>
                            <span class="welcome-row-subtitle">Over orders worth $50</span>
                        </p>
                    </div>
                </div>


                <div class="col-sm-6 flex-center">
                    <div class="float-left  welcome-icon">
                        <img loading="lazy" src="assets/images/certified.png">
                    </div>
                    <div class="float-left">
                        <p class="welcome-row-title" style="padding-top: 10px;">TAA compliance<br>
                            <span class="welcome-row-subtitle">Guaranteed compliant products</span>
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 flex-center">
                    <div class="float-left  welcome-icon">
                        <img loading="lazy" src="assets/images/dollar.png">
                    </div>
                    <div class="float-left">
                        <p class="welcome-row-title" style="padding-top: 10px;">Quality assured<br>
                            <span class="welcome-row-subtitle">Matching global standards</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 green-newsletter">
            <h3>Subscribe For Our Newsletter</h3>
            <p>Sign up to stay in the loop about the hottest deals, coolest new products,and exclusive sales events.</p>
            <input type="text" placeholder="Email Address" class="footer-input"><button class="footer-submit">Sign Up</button>

        </div>
    </div>
</div>

<!--Green signup box end-->