<div
  class="hero-ctn home-container"
  style="background: url('/assets/images/sp4.png')"
>
  <div class="content-part">
    <h1>Keep Your Cloud In Good Shape.</h1>
    <p>
      Setting up cloud data storage isn’t a one-and-done thing — you can’t build
      it and then forget about it. It’s more like a garden. You have to tend it,
      maintain it, and manage it. Only then can you reap the rewards.<br /><br />
      Generally, the best solution is to hire a dedicated outside team to handle
      the day-to-day stuff, so your cloud can work as intended without you even
      having to think about it. If you’d like to let us worry about cloud
      maintenance and get back to what you do best, inquire below.
    </p>
    <a [routerLink]="'/contact-us'" class="btn">Talk to Us</a>
  </div>
</div>

<div class="features-ctn home-container">
  <h2 class="text-center">Cut Internal Time And Costs</h2>

  <div class="feature-box reversed-box">
    <div class="text-area">
      <h2>Cut Internal Time And Costs</h2>
      <p>
        You and your team are busy enough already. And good IT guys are in short
        supply — why waste one on maintenance instead of forward-thinking
        operations? <br /><br />Instead, talk to us — a team of experienced
        professionals — about managing your cloud resources.
      </p>
    </div>
    <div class="icon-area">
      <img loading="lazy" src="/assets/images/clock.png" alt="Cloud" />
    </div>
  </div>

  <div class="feature-box">
    <div class="text-area">
      <h2>Integrated Services</h2>
      <p>
        Not every business can put all its assets on the cloud. If you have a
        hybrid cloud and you still keep physical data storage assets, then you
        know how difficult it can be to manage both systems at once. We have the
        expertise to help you alleviate the burden, so you can go back to what
        you do best.
      </p>
    </div>
    <div class="icon-area">
      <img loading="lazy" src="/assets/images/technology.png" alt="Building" />
    </div>
  </div>
</div>

<!-- <div class="hero-ctn home-container" style="background: url('/assets/images/cta-bg.jpg');">
  <div class="content-part">
    <h1>What Do You Need?</h1>
    <p>
      Whatever your IT needs are, we'll be happy to help. Schedule a free consultation with us, and we'll let you know
      what we can do for you.
    </p>
    <a href="#!" class="cta-btn white">Contact Us</a>
  </div>
</div> -->

<div class="ctn">
  <div class="ctn--inner">
    <div class="services-ctn">
      <h2 class="our-services home-container">Our Services</h2>

      <div class="services home-container">
        <div class="services-section1">
          <div>
            <h2>Managed Microsoft 365 Services</h2>
            <p>
              Microsoft 365 is at the center of the business world — pretty much
              everyone uses PowerPoint, Word, and Excel these days. But they can
              be complex, and you can run into security issues if you use them
              wrong. <br /><br />We’re here to help you get the most from
              Microsoft 365. That means patching up any potential security
              threats. Plus, we can train employees to use Microsoft 365,
              integrate Microsoft 365 with other services, and more
            </p>
          </div>

          <div>
            <h2>Network Security Management</h2>

            <p>
              Clouds are prone to many kinds of cyberattacks. Fortunately, we
              can provide defenses against all kinds of attacks, like firewalls.
              And in addition, we have a proprietary tool which analyzes your
              system and gives you a security score, letting you know how easy a
              target you are — and how you can improve.
            </p>
          </div>

          <div>
            <h2>Policy Management</h2>
            <p>
              Running an efficient, secure cloud comes down to good policy. For
              example, when an employee leaves, what should you do to make sure
              their credentials don’t get sold on the dark web? We’ll help you
              implement policies that keep your business running smoothly and
              protect you from the worst happening.
            </p>
          </div>
        </div>
        <div class="services-section2">
          <div>
            <h2>Azure Managed Services</h2>
            <p>
              Handling the day-to-day Azure stuff can distract you from business
              goals. Instead of dedicating company resources to maintenance and
              away from expanding into new fields, and instead of hiring new
              full-time staff members just to manage your cloud software, let us
              handle everything. We’re experienced professionals who do this
              stuff for a living, and we’ll make sure everything runs smoothly.
            </p>
          </div>

          <div>
            <h2>Load Balancing</h2>

            <p>
              Anytime you have a network of multiple computers, load balancing
              is simply a best practice. It prevents device overload, and it
              makes it a lot more likely that you’ll have network availability
              when you need it. If you’d like to get more out of your computers,
              talk to us about setting up load balancing protocols.
            </p>
          </div>
        </div>

        <div class="services-section3">
          <div>
            <h2>Cloud Security Posture Management</h2>
            <p>
              If you’re playing around with company-wide code, it’s generally
              best to log changes in that code as many times as possible —
              ideally multiple times per day. That helps you easily spot new
              errors in the code, and trace them as quickly as possible — which
              greatly reduces the time it takes to get everything back on track
              when a mistake happens.
            </p>
          </div>

          <div>
            <h2>Network Performance</h2>
            <p>
              Your network isn’t something you set up once and then forget about
              — if you want to get the most out of it, you have to constantly
              improve it. That means collecting data about your network’s
              performance, analyzing that data to identify problems, and solving
              those problems. We’ll help you optimize all 3 of those steps.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-blog-section></app-blog-section>
<app-contact-card></app-contact-card>
