<div class="featured-products home-container">
  <h2>Similar Parts</h2>
  <swiper-container slides-per-view="1" speed="500" loop="true" css-mode="true" class="featured-swiper">
    <swiper-slide>
      <div class="slider slide">
        <div class="all-prod">
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slider slide">
        <div class="all-prod">
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>

          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
          <a href="#" class="p-card-parent">
            <app-product-card-slider></app-product-card-slider>
          </a>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>


</div>
