<main class="home-container">
    <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
    <div class="static-container">
        <h1>Shipping Policy</h1>
        <p><strong>Your Tech Delivered Fast and Easy by Itech Devices.</strong></p>
        <p>iTECH Devices is committed to delivering your new IT equipment quickly and securely. We offer a variety of
        shipping
        options to meet your needs and budget.</p>
        <p><strong>Free Standard Shipping (UAE):</strong></p>
        <ul>
        <li>Orders placed before 10:00 AM GMT ship the same day (excluding weekends and holidays).</li>
        <li>Expect delivery within 4-6 business days after your order is processed (1-3 business days).</li>
        <li>Delivered by FedEx, DHL, or USPS between 8:00 AM and 8:00 PM.</li>
        </ul>
        <p><strong>Expedited Shipping Options (UAE Only):</strong></p>
        <ul>
        <li>Quick Arrival (3-7 business days): Orders placed before 10:00 AM GMT.</li>
        <li>Speedy 3-Day Transit: Orders placed before 10:00 AM GMT.</li>
        <li>Faster 2-Day Option: Orders placed before 10:00 AM GMT.</li>
        <li>Next-Day Standard: Orders placed before 10:00 AM GMT, delivered by the next business day.</li>
        <li>Priority Next-Day: Delivered by 10:30 AM the next business day, with orders placed before 10:00 AM GMT.</li>
        </ul>
        <p><strong>International Shipping:</strong></p>
        <ul>
        <li>Itech Devices ship worldwide via FedEx International, DHL, and UPS.</li>
        <li>Orders placed before 10:00 AM GMT will ship the same day (excluding weekends and holidays).</li>
        <li>Delivery timeframes vary depending on the destination and chosen carrier.</li>
        <li>Customers are responsible for any applicable customs duties and taxes.</li>
        </ul>
        <p><strong>Weekend and Holiday Shipping:</strong></p>
        <p>Itech devices does not ship on weekends or holidays.</p>
        <p><strong>Missing Items or Questions:</strong></p>
        <p>If you are missing an item from your order, please contact our Shipping Support Staff at +971-5-54255786.</p>
        <p>For any shipping questions, please contact our Sales Department at +971-5-54255786.</p>
        <p><strong>Additional Notes:</strong></p>
        <p><strong>Frequently Asked Questions:</strong></p>
        <p><strong>Q: My tracking number isn't working. Why?</strong></p>
        <p>A: Sometimes, packages from the same order ship separately. Please wait a few days for all items to arrive. If
        anything's missing, contact our shipping department. For damaged packages, reach out directly to the carrier.
        </p>
        <p><strong>Q: How can I reschedule my FedEx or DHL delivery?</strong></p>
        <p>A: Check your InfoNotice for rescheduling options or online adjustments. Leave specific instructions for the
        driver
        or use the carrier's website to modify delivery details.</p>
        <p><strong>Q: Do you ship internationally?</strong></p>
        <p>A: Yes, Itech Devices offers worldwide shipping via DHL and FedEx International. Please note that customers are
        responsible for any customs and duties.</p>
        <p><strong>Q: Can you ship to APO/FPO addresses?</strong></p>
        <p>A: Yes, but delivery times can range from 5-10 business days due to limitations. Itech Devices appreciate your
        understanding and patience.</p>
        </div>
</main>