<div  class="thank-area text-center home-container">
  <img style="margin-top:50px;" loading="lazy" src="/assets/icons/thank-you.svg" alt="thankyou" srcset="" width="" height=""/>
  <h1 class="my-5">THANK YOU FOR YOUR ORDER.</h1>
  <h2>YOUR ORDER ID: # {{orderNumber}}</h2>
  <p>
    If you’d like to speak with a sales consultant at a preferred time,
    please <a [routerLink]="['/']">contact us!</a>
  </p>
  <a [routerLink]="['/']">Continue Shopping</a>
</div>
<app-buy-now-cta></app-buy-now-cta>
