<div class="blogs">
  <div class="blogs-ctn home-container">
    <h2>Services</h2>

    <div class="blogs-ctn-inside">

      <a href="#!">
        <div class="blog-single">
          <img loading="lazy" src="assets/images/s-cloud.jpg" />
          <h5 class="blog-title">Cloud</h5>
          <p class="blog-excerpt">
            It is a long established fact that a re will be distracted by the
            readable c of a page when looking at its layout.
          </p>
        </div>
      </a>
      <a href="#!">
        <div class="blog-single">
          <img loading="lazy" src="assets/images/s-infra.jpg" />
          <h5 class="blog-title">Infrastructure</h5>
          <p class="blog-excerpt">
            It is a long established fact that a re will be distracted by the
            readable c of a page when looking at its layout.
          </p>
        </div>
      </a>
      <a href="#!">
        <div class="blog-single">
          <img loading="lazy" src="assets/images/s-dev.jpg" />
          <h5 class="blog-title">DevOps</h5>
          <p class="blog-excerpt">
            It is a long established fact that a re will be distracted by the
            readable c of a page when looking at its layout.
          </p>
        </div>
      </a>
      <a href="#!">
        <div class="blog-single">
          <img loading="lazy" src="assets/images/s-cyber.jpg" />
          <h5 class="blog-title">Cybersecurity</h5>
          <p class="blog-excerpt">
            It is a long established fact that a re will be distracted by the
            readable c of a page when looking at its layout.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
