<!--brands-->
<div class="container white-box home-brands">
  <div class="row ">
      <div class="col-sm-12">
          <h2>Featured Brands</h2>
      </div>
      <div class="col-sm-12">
          <ngx-slick-carousel class="center slider" [config]="slideConfig">
              <div ngxSlickItem  class="brand-logo">
                  <img loading="lazy" src="assets/images/1.png" />
              </div>
              <div ngxSlickItem  class="brand-logo">
                  <img loading="lazy" src="assets/images/2.png" />
              </div>
              <div ngxSlickItem  class="brand-logo">
                  <img loading="lazy" src="assets/images/3.png" />
              </div>
              <div ngxSlickItem  class="brand-logo">
                  <img loading="lazy" src="assets/images/4.png" />
              </div>
              <div ngxSlickItem   class="brand-logo">
                  <img loading="lazy" src="assets/images/5.png" />
              </div>
              <div ngxSlickItem   class="brand-logo">
                  <img loading="lazy" src="assets/images/6.png" />
              </div>
              <div ngxSlickItem   class="brand-logo">
                  <img loading="lazy" src="assets/images/7.png" />
              </div>
              <div ngxSlickItem   class="brand-logo">
                  <img loading="lazy" src="assets/images/8.png" />
              </div>


          </ngx-slick-carousel>>
      </div>
  </div>
</div>
<!--brands-->
