<div
  class="hero-ctn home-container"
  style="background: url('/assets/images/sp3-main.png')"
>
  <div class="content-part">
    <h1>High Quality Software, Delivered.</h1>
    <p>
      Get the software tools you need to run your business, without the growing
      pains. Whatever DevOps philosophy you want to use, we’ll help you get your
      whole team on the same page, so you can change and update your software
      without negatively impacting your business in the short run.
    </p>
    <a [routerLink]="'/contact-us'" class="btn">Talk to Us</a>
  </div>
</div>

<div class="features-ctn home-container">
  <h2 class="text-center">What We Recommend For You</h2>

  <div class="feature-box reversed-box">
    <div class="text-area">
      <h2>Evolving without growing pains.</h2>
      <p>
        Updating the code to important business tools can be painful, because if
        you change a feature that someone on your team was relying on, it can
        interfere with normal operations.<br /><br />
        DevOps lets you get everyone on the same page, so you don’t make any
        updates until you’re ready. We’ll help you streamline your operation
        with customized programs that solve your biggest problems, without
        interrupting your normal workflow.
      </p>
    </div>
    <div class="icon-area">
      <img loading="lazy" src="/assets/images/grow.png" alt="Building" />
    </div>
  </div>
</div>

<!-- <div class="hero-ctn home-container" style="background: url('/assets/images/cta-bg.jpg');">
  <div class="content-part">
    <h1>What Do You Need?</h1>
    <p>
      Whatever your IT needs are, we'll be happy to help. Schedule a free consultation with us, and we'll let you know
      what we can do for you.
    </p>
    <a href="#!" class="cta-btn white">Contact Us</a>
  </div>
</div> -->

<div class="ctn">
  <div class="ctn--inner">
    <div class="services-ctn">
      <h2 class="our-services home-container">Our Services</h2>

      <div class="services home-container">
        <div class="services-section1">
          <div>
            <h2>Cloud Governance</h2>

            <p>
              The cloud has too many benefits to ignore, but using the cloud
              carries some risk with it. After all, when you use the cloud, your
              information’s online — which means it only takes a few mistakes
              for something bad to happen. Mitigate that risk as much as you can
              by establishing common sense protocols about how to use the cloud
              safely and store your data in a way that makes sense
            </p>
          </div>

          <div>
            <h2>Continuous Deployment</h2>
            <p>
              Don’t wait to update your code. Automate the whole process and
              reduce the number of steps from writing code to executing code, so
              your employees don’t have to do as much manually. We’ll help you
              automate the tests so you can easily pull this off.
            </p>
          </div>
        </div>
        <div class="services-section2">
          <div>
            <h2>Infrastructure As Code</h2>

            <p>
              You could have your employees manually sync everything up, but
              whenever it’s possible, it’s a lot easier to let a computer do the
              work. We’ll help you set up programs that automate the DevOps
              process as much as possible.
            </p>
          </div>

          <div>
            <h2>DevOps Consultancy Services</h2>
            <p>
              Want to start using DevOps, but not sure where to begin? Or do you
              need help tightening up your DevOps efforts and getting them back
              on track? Get in touch with us, and we’ll be happy to guide you
              some expert advice.
            </p>
          </div>
        </div>

        <div class="services-section3">
          <div>
            <h2>Continuous Integration</h2>
            <p>
              If you’re playing around with company-wide code, it’s generally
              best to log changes in that code as many times as possible —
              ideally multiple times per day. That helps you easily spot new
              errors in the code, and trace them as quickly as possible — which
              greatly reduces the time it takes to get everything back on track
              when a mistake happens.
            </p>
          </div>

          <div>
            <h2>Container Orchestration Services</h2>
            <p>
              Containerized workloads can be useful, but they can also be
              difficult to manage. Fortunately, it’s not that hard to write some
              code to automate important tasks and greatly ease your team’s
              burden.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-blog-section></app-blog-section>
<app-contact-card></app-contact-card>
