<div class="industries">
  <div class="home-container text-center">
    <h2 class="section-title mb-0">Our Industries</h2>
    <p>Connection is a leader in providing smart, cutting-edge technology solutions for global organizations of all
      sizes</p>

    <div class="row g-3 g-md-4">
      <div class="col">
        <a class="indusbox" [routerLink]="['/industry/enterprise']">
          <img loading="lazy" src="assets/svg/enterprise.svg" alt="Enterprise" width="50" height="51" />
          <h6>Enterprise Business</h6>
        </a>
      </div>
      <div class="col">
        <a class="indusbox" [routerLink]="['/industry/sme']">
          <img loading="lazy" src="assets/svg/sme.svg" alt="SME Industries" width="51" height="48" />
          <h6>SME</h6>
        </a>
      </div>
      <div class="col">
        <a class="indusbox" [routerLink]="['/industry/healthcare']">
          <img loading="lazy" src="assets/svg/healthcare.svg" alt="Healthcare Industries" width="50" height="50" />
          <h6>Healthcare</h6>
        </a>
      </div>

      <div class="col">
        <a class="indusbox" [routerLink]="['/industry/government']">
          <img loading="lazy" src="assets/svg/federal.svg" alt="Federal" width="50" height="50" />
          <h6>Federal Government</h6>
        </a>
      </div>
      <div class="col">
        <a class="indusbox" [routerLink]="['/industry/finance']">
          <img loading="lazy" src="assets/svg/finance.svg" alt="Finance Industries" width="50" height="50" />
          <h6>Finance</h6>
        </a>
      </div>
      <div class="col">
        <a class="indusbox" [routerLink]="['/industry/education']">
          <img loading="lazy" src="assets/svg/edu.svg" alt="Higher" width="50" height="50" />
          <h6>Higher Education</h6>
        </a>
      </div>

    </div>
  </div>
</div>