<div class="ctn">
  <div class="ctn-inside home-container">
    <div class="deals-section row">
      <div class="deal-left-section col-md-3">
        <h2>The SMARTEST Memory Choice for Enterprise Server</h2>
      </div>
      <div class="deal-right-section col-md-6 offset-md-3">
        <p style="font-weight: bold;">Explore Affordable DIMM Solutions</p>
        <a [routerLink]="['/categories/memory/memory-by-category/server-memory']" class="btn">Shop Now</a>
      </div>
    </div>
  </div>
</div>
