<div class="hero-ctn home-container" style="background: url('/assets/images/hero.png')">
  <div class="content-part">
    <h1>Your Business, On The Cloud.</h1>
    <p>
      The cloud has too many advantages to ignore. It’s so much easier to access
      important information when it’s on the cloud. Plus, cloud applications
      perform better and are easier to use and update than local applications.
      <br /><br />
      The problem is, getting on the cloud can be difficult, which is why so
      many businesses have put it off. But in the long run, it’s worth it.
      <br /><br />
      We’re your one-stop shop for everything cloud, whether you need to develop
      something new or just maintain what you have. Contact us and learn how we
      can help you.
    </p>
  </div>
</div>

<div class="features-ctn home-container">
  <h2 class="text-center">What We Recommend For You</h2>

  <div class="feature-box reversed-box">
    <div class="text-area">
      <h2>New Cloud Users</h2>
      <p>
        Considering moving over to the cloud? You’re not alone. Many major
        businesses, like Netflix, Expedia, and LinkedIn, are already on the
        cloud. It’s a cheaper, more effective, and often safer way to store your
        data.
        <br /><br />
        But should you pick Azure, Amazon Web Services, Google Cloud, or
        something else? And how should you structure and govern your cloud?
        These are big decisions, and it takes experience to come up with good
        answers.
        <br /><br />
        Let us help make your cloud migration as quick and painless as possible,
        so you can start reaping the rewards.
      </p>
    </div>
    <div class="icon-area">
      <img loading="lazy" src="/assets/images/cloud.jpg" alt="Cloud" />
    </div>
  </div>

  <div class="feature-box">
    <div class="text-area">
      <h2>Existing Cloud Users</h2>
      <p>
        Managing your cloud can be a hassle, and it can distract your IT
        employees from their regular duties. Plus, it’s one of those things that
        requires a special team — you want experts handing your day-to-day cloud
        tasks to make sure nothing bad happens, and that everything’s running
        smoothly.
        <br /><br />
        Let us take care of the boring stuff for you, so you can focus on growth
        and serving your clients.
      </p>
    </div>

    <div class="icon-area">
      <img loading="lazy" src="/assets/images/ecu.png" alt="Building" />
    </div>
  </div>
</div>

<!-- <div class="hero-ctn home-container" style="background: url('/assets/images/cta-bg.jpg');">
  <div class="content-part">
    <h1>What Do You Need?</h1>
    <p>
      Whatever your IT needs are, we'll be happy to help. Schedule a free consultation with us, and we'll let you know
      what we can do for you.
    </p>
    <a href="#!" class="cta-btn white">Contact Us</a>
  </div>
</div> -->

<div class="ctn">
  <div class="ctn--inner">
    <div class="services-ctn">
      <h2 class="our-services home-container">Our Services</h2>

      <div class="services home-container">
        <div class="services-section1">
          <div>
            <h2>Azure Cloud Services</h2>
            <p>
              Microsoft Azure has better security and better hybrid capabilities
              than its competitors. Plus, it’s widely regarded as being easier
              to learn. If you’re thinking about using Azure, or if you’re
              already on Azure, we’ll help you get the most from it.
            </p>
          </div>

          <div>
            <h2>Google Cloud Services</h2>
            <p>
              If you’ve chosen to use Google Cloud, it can be difficult to find
              a partner who has the experience necessary to do a good job.
              Fortunately, we have a team of experts who have seen everything
              when it comes to Google Cloud, and we’ll be happy to help you with
              everything Google Cloud — from setup to migration to the
              day-to-day.
            </p>
          </div>

          <div>
            <h2>Cloud Assessment</h2>

            <p>
              Will the cloud work for your business? It’s not for everyone, but
              it’s also incredibly powerful — you can’t ignore it. We’ll be
              happy to take a look and give you a sense of what the cloud could
              do for you, what the cost would be, how painful the migration
              process might be, and more.
            </p>
          </div>

          <div>
            <h2>AWS Cloud Services</h2>
            <p>
              AWS has the largest market share of all the IaaS providers. It’s
              usually less expensive, and it has many other advantages over
              services like Azure and Google Cloud.<br /><br />
              If you’re thinking about using AWS, or if you’re already on AWS,
              we’ll help you get the most from it.
            </p>
          </div>
        </div>
        <div class="services-section2">
          <div>
            <h2>Microsoft 365 Services</h2>
            <p>
              Microsoft 365 is at the center of the business world — pretty much
              everyone uses PowerPoint, Word, and Excel these days. But they can
              be complex, and you can run into security issues if you use them
              wrong.<br /><br />
              We’re here to help you get the most from Microsoft 365. That means
              patching up any potential security threats. Plus, we can train
              employees to use Microsoft 365, integrate Microsoft 365 with other
              services, and more.
            </p>
          </div>

          <div>
            <h2>Azure Managed Services</h2>
            <p>
              Handling the day-to-day Azure stuff can distract you from business
              goals. Instead of dedicating company resources to maintenance and
              away from expanding into new fields, and instead of hiring new
              full-time staff members just to manage your cloud software, let us
              handle everything. We’re experienced professionals who do this
              stuff for a living, and we’ll make sure everything runs smoothly.
            </p>
          </div>

          <div>
            <h2>Microsoft Cloud Adoption Framework</h2>

            <p>
              It’s important to organize your cloud correctly from the start —
              that way, it works, it’s easy to use, and you don’t have to go
              through the painful process of reorganizing. We’ll help you with
              building a cloud strategy, preparing a cloud environment,
              establishing cloud governance, and more.
            </p>
          </div>

          <div>
            <h2>Microsoft Modern Workplace And Security Services</h2>
            <p>
              Microsoft Modern Workplace gives you a whole host of tools that
              you can use to better run your business. We’ll be your guide to
              unlocking the benefits of these tools — as well as helping you use
              them safely and effectively.
            </p>
          </div>
        </div>

        <div class="services-section3">
          <div>
            <h2>Cloud Consultancy</h2>

            <p>
              The cloud is a powerful tool. But sometimes, it can be tricky to
              understand, and mistakes can be costly. Make sure you’re doing
              everything optimally and not exposing your business to needless
              risk. We’ll help you manage your cloud better.
            </p>
          </div>

          <div>
            <h2>Cloud Migration</h2>
            <p>
              Transitioning to the cloud is a process, and if you do it wrong,
              it can be painful. You don’t want cloud migration to get in the
              way of normal business operations, and you don’t want there to be
              growing pains. We’ll help you build a strategy to avoid common
              mistakes, like failing to update your infrastructure and security
              mishaps.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-blog-section></app-blog-section>
<app-contact-card></app-contact-card>
