<main class="home-container">
    <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
    <div class="static-container">
        <h1>Purchasing for Educational Institutions</h1>
        <p>Itech Devices recognizes the pivotal role that up-to-date technology and reliable IT-related products play in today's educational landscape. Ensuring that institutions can foster research, enrich student interactions, streamline administrative
            tasks, and maintain a robust digital environment is paramount. Moreover, we understand that while technological advancements are essential, they must also be cost-effective to ensure schools can access the required computer parts without straining
            their resources.
        </p>
        <p>At Itech Devices, we specialize in more than simply selling hardware; we also offer complete IT solutions. We are prepared to be a one-stop shop for IT needs, thanks to our extensive catalog, which includes display, storage, networking, power
            equipment and other crucial components from top manufacturers.</p>
        <p>By choosing to partner with Itech Devices, educational institutions stand to benefit from:</p>
        <ol>
            <li><strong>Dedicated Account Executives</strong>: Every educational institution that opens an account with us will be paired with an experienced account executive. This expert will be your main point of contact, ensuring you're informed about
                part specifications, compatibility, and even suggesting potential upgrades for your existing equipment. They'll also keep you in the loop about exclusive offers, discounts, and other opportunities tailored to your needs.
            </li>
            <li><strong>Exclusive Discounts</strong>: Schools partnering with Itech Devices enjoy a substantial 15% discount on all parts. This exclusive rate ensures that you can source the components you need without breaking the bank.</li>
            <li><strong>Flexible Shipping Options</strong>: We understand that sometimes you need parts urgently. That's why we offer free ground shipping for orders over $200 and the option for next-day delivery if the situation demands it.</li>
            <li><strong>Expansive Inventory</strong>: With more than 1 million different parts in stock at any given time, chances are high that we have exactly what you're looking for. If, by any chance, we don't, our team will go above and beyond to source
                it for you.</li>
            <li><strong>Instant Approval &amp; Credit Terms</strong>: Itech Devices values the education sector and offers instant approvals for net terms without the need for a lengthy credit application. Just send us your purchase order, and we'll handle
                the rest.</li>
        </ol>
    </div>
</main>