<main class="home-container">
    <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
    <div class="static-container">
        <h1>Product Availability</h1>
        <p>The items listed as 'In-stock' on itechdevices.ae are usually dispatched in 1 or 4 business days if orders are placed prior to 2:00 p.m. PST. Please note that the specific item/part ordered may be replaced with a functionally equivalent item (if
            out of stock).</p>
        <p>The items listed as 'out-of-stock' or 'call for price' on itechdevices.ae may not be available on-hand and usually arranged, and dispatched in 3 to 8 business days.</p>
        <p>Customers needing prompt shipping can use the express delivery option to ensure that available items are with you by the end of the business day, provided orders are made by 2:00 p.m. PST.</p>
        <p>Orders that consist of several products with different delivery schedules can be processed through split shipping options. Extra shipping fee may apply.</p>
        <p>Itech Devices facilitates centralized orders deliveries for multiple offices. Essential security verifications and shipping fee may apply.</p>
        <p>Quoted prices do not include any relevant sales taxes. If applicable, such taxes will be an additional charge to the customer. While sales taxes are applicable in California, it might also apply to other states, nations, or regions.</p>
        <p>The price of ordered items cannot always be guaranteed due to quick changes in market prices. Itech Devices retains the right to adjust the product prices by providing a prior notification to the customer before delivery.</p>
        <p>In case an ordered item is unavailable, a functionally equivalent item can be dispatched. If you desire a precise product specification without substitutions, kindly consult our team regarding its availability.
        </p>
        <p>itechdevices.ae retains the authority to cancel orders or limit the order quantity in certain instances, like delay in order confirmation from customer's end or product unavailability.</p>
        <p>Given our extensive catalog exceeding 1m products, there may be occasional typographical errors or inconsistencies in the product information. Should there be discrepancies in pricing or stock availability, we correct them during our periodic
            website updates which can span from 1 to 30 days.</p>
        <p>Customers requiring in-demand items, bulk quantity, or urgent deliveries should confirm the item's price and availability.
        </p>
        <p>For inquiries regarding order acceptance, pricing, or availability, contact us at +971-5-54255786.</p>
    </div>
</main>