<main class="home-container">
    <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb>
    <div class="static-container">
        <h1>Government IT Procurement</h1>
        <p>Itech Devices recognizes the crucial role that reliable IT equipment plays in the modern operations of Federal and Government institutions. It is essential that these bodies are equipped with the best tools to ensure they can perform their functions,
            serve the public, and maintain essential services efficiently. Furthermore, we comprehend the importance of cost-effectiveness, ensuring government entities can source the IT solutions they need without overburdening taxpayers and the state
            budget.
        </p>
        <p>Partnering with Itech Devices provides government institutions with several benefits:
        </p>
        <ol>
            <li>Dedicated Account Managers: On opening an account, a government institution is paired with an experienced account manager. This expert remains your primary point of contact, advising on product specifications, compatibility, potential upgrades,
                and informing you about exclusive promotions and offers tailored to your needs.
            </li>
            <li>Exclusive Discounts: We respect the fiscal responsibility of government institutions. Hence, we offer an exclusive 15% discount on all products to help you get the most value from your procurement budget.</li>
            <li>Flexible Shipping Solutions: Recognizing the time-sensitive nature of government operations, we offer free ground shipping for orders over $200 and have provisions for next-day deliveries if the situation demands.</li>
            <li>Unparalleled Inventory: With a stock of over 1 million diverse parts, it's highly likely we have exactly what you need. On the off chance we don't, our dedicated team will go the extra mile to source it for you.</li>
            <li>Hassle-free Credit &amp; Procurement Process: Itech Devices offers instant approval for government institutions for net terms without the need for a traditional credit check. Send us your official purchase orders, and we'll expedite your procurement
                process.</li>
        </ol>
        <p>At the heart of Itech Devices's operations lies the objective of creating lasting, mutually beneficial relationships. As we work to support and streamline government operations, we invite you to partner with us. Let us equip you with the cutting-edge
            IT solutions you need to serve the public efficiently and effectively</p>
    </div>
</main>