<div class="casestudy-ctn home-container">
  <div class="casestudy-ctn-inner">
    <h2>Case Studies</h2>
    <div class="casestudy">
      <div class="casestudy-left"></div>

      <div class="casestudy-right">
        <div class="logo-date">
          <div class="logo"><img loading="lazy" src="/assets/images/acer.png" /></div>
          <div class="date">12/03/2022</div>
        </div>

        <h2>Top Cisco Switches, Access Points, and Phones</h2>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English. Many desktop publishing packages and web
          page editors
        </p>

        <a class="btn">Read more</a>
      </div>
    </div>
  </div>
</div>
