<div class="thank-area home-container">
        <div class="text-center" style="background-color: rgb(255, 255, 255);padding: 40px 60px;">
                <img loading="lazy" src="/assets/svg/tick.svg" alt="thankyou" srcset="" width="150px" height="" />
                <h1 style="font-size: 40px;font-weight: 500;margin-top: 20px;">Thanks for getting in touch with us.</h1>
                <p style="max-width: 900px;margin: 0 auto;">Our sales team has received your inquiry and will be
                        reaching out to you shortly to discuss your purchase requirements. Your patience is appreciated,
                        and we're eager to assist you further.</p>
                <hr>
                <!-- <h6 class="mb-0">Having trouble?</h6> -->
                <a [routerLink]="'/'" class="btn">Back to Home</a>
        </div>
</div>